/**
 *
 * Style Sheet Name: styles.css
 * Style Sheet Version: 1.0
 * Style Sheet Info: Bootstrap Theme 2 Styles
 *
 */

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    margin-bottom: 100px;
    font-family: 'Source Sans Pro', arial, helvetica, verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, div, p {
    font-family: 'Source Sans Pro', arial, helvetica, verdana, sans-serif;
}

h1 {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 190px;
    height: 50px;
    background-image: url(../img/logo1-sm.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 143px 40px;
    text-indent: -9999em;
    overflow: hidden;
}

ul.nav {
    position: relative;
}

.jumbotron {
    color: #fff;
    background-image: url(../img/night-sky1-1600x500.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.marketing {
    text-align: center;
}

.col-lg-4 {
    padding-bottom: 40px;
}

.img-circle {
    border: solid 3px #dcdcdc;
}

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.subheader {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 200px;
    background-image: url(../img/day-sky2-1600x500.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.padding-top {
    padding-top: 25px;
}

.padding-bottom {
    padding-bottom: 25px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #dedede;
}

.footer > div {
    font-size: 0.9em;
    padding: 20px 10px 10px 10px;
}

.error {
    color: #f00;
}

@media (min-width: 769px) {
    ul.nav > li > ul {
        position: absolute;
        padding: 0;
        display: none;
    }

    ul.nav > li:hover > ul {
        display: block;
    }

    ul.nav > li > ul > li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    ul.nav > li > ul > li > a {
        margin: 0;
        padding: 7px;
        display: block;
        width: 160px;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
    }
}

@media (max-width: 768px) {
    ul.nav > li > ul {
        position: relative;
        margin: 0;
        padding: 0;
    }

    ul.nav > li > ul > li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    ul.nav > li > ul > li > a {
        margin: 0;
        padding: 7px 7px 7px 25px;
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
    }
}
